<h1>Add purchase</h1>

<form class="form-horizontal" action="/purchases/add" method="POST">

	<div class="form-group">
		<label for=""class="col-sm-2 control-label">Shop</label>
		<div class="col-sm-10">
		<input type="text" class="form-control"name="shop" value="{{shop}}">
	</div>
  </div>

	<div class="form-group">
		<label for=""class="col-sm-2 control-label">Purchase Date</label>
		<div class="col-sm-10">
		<input type="date" class="form-control"name="purchase_date" value="{{purchase_date}}">
	</div>
	</div>

	<div class="form-group">
		<label for=""class="col-sm-2 control-label">Prod ID</label>
		<div class="col-sm-10">
		<select class="form-control" name="prod_id">
			{{#products}}
				<option value="{{prod_id}}">{{product_name}}</option>
			{{/products}}
		</select>
	</div>

	<div class="form-group">
		<label for=""class="col-sm-2 control-label">Purchases Quantity</label>
		<div class="col-sm-10">
		<input type="number" class="form-control"name="purchases_quantity" value="{{purchases_quantity}}">
	</div>
	</div>

	<div class="form-group">
		<label for=""class="col-sm-2 control-label">Purchases Unit Price</label>
		<div class="col-sm-10">
		<input type="number" class="form-control"  step="0.01" min="0" name="purchases_unit_price" value="{{purchases_unit_price}}">
	</div>
  </div>

	<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
				<div class="col-sm-10">
        <button type="submit" class="btn btn-info">Submit</button>
       </div>
 	  </div>
	</div>
</form>
