<div class="row">
  <div class="col-md-11">
    <h1>Products</h1>
    {{#if adminAccess}}
    <a class="btn btn-info" href="/products/add">Add new product</a>
    {{/if}}
    <div class="table-responsive">
    <table class="table table-hover">
      {{#if adminAccess}}
      <tr>
        <th> Product ID </th>
        <th> Product Name </th>
        <th> Category ID</th>
        <th> </th>
        <th> </th>
      </tr>
     {{#products}}
      <tr>
        <td> <h4> {{prod_id}} </h4> </td>
        <td> <h4> {{product_name}}</h4> </td>
        <td> <h4> {{cat_id}}</h4> </td>
        <td> <h4> <a href="/products/edit/{{prod_id}}">Edit</a> </h4></td>
        <td> <h4> <a href="/products/delete/{{prod_id}}">Delete</a> </h4></td>
      </tr>
     {{/products}}
     {{else}}
       <tr>
         <th> Product ID </th>
         <th> Product Name </th>
         <th> Category ID</th>
       </tr>
      {{#products}}
       <tr>
         <td> <h4> {{prod_id}} </h4> </td>
         <td> <h4> {{product_name}}</h4> </td>
         <td> <h4> {{cat_id}}</h4> </td>
       </tr>
      {{/products}}
     {{/if}}
    </table>
  </div>
  </div>
</div>
