<div class="row">
  <div class="col-md-12">
    <h1>Purchases</h1>
    <a class="btn btn-info" href="/purchases/add">Add new purchase</a>
    <table class="table table-striped">
      <tr>
        <th> Purchases ID </th>
        <th> Shop</th>
        <th> Purchase Date </th>
        <th> Prod ID </td>
        <th> Purchase Quantity </td>
        <th> Purchase Unit Price </td>
        <th> </th>
        <th> </th>
      </tr>
    {{#purchases}}
      <tr>
        <td> <h4> {{purchases_id}} </h4> </td>
        <td> <h4> {{shop}}</h4> </td>
        <td> <h4> {{purchase_date}} </h4> </td>
        <td> <h4> {{prod_id}} </h4> </td>
        <td> <h4> {{purchases_quantity}} </h4> </td>
        <td> <h4> {{purchases_unit_price}} </h4> </td>
        <td> <h4> <a href="/purchases/edit/{{purchases_id}}">Edit</a> </h4></td>
        <td> <h4> <a href="/purchases/delete/{{purchases_id}}">Delete</a> </h4></td>
      </tr>
    {{/purchases}}
    </table>
  </div>
</div>
