<div class="row">
  <div class="col-md-11">
    <h1> {{heading1}}</h1><br><br>
    <h2> {{heading2}}</h2><br><br>
    <a class="btn btn-info" href="/statistics/{{week_no}}"</a>
    <div id="main">
      <h3> most popular product: {{mostPopularProduct}} </h3>
      <h3> least popular product : {{leastPopularProduct}} </h3>
      <h3> most popular category : {{mostPopularCategory}} </h3>
      <h3> least popular category : {{leastPopularCategory}} </h3>
      <h3> most profitable product : {{mostProfitableProduct}} </h3>
      <h3> most profitable category : {{mostProfitableCategory}} </h3>
    </div>
  </div>
  <!--main -->
</div>
</div>
