  <div class="row">
  <div class="col-md-11">
    <h1> {{data.heading1}}</h1><br><br>
    <h2> {{data.heading2}}</h2><br><br>
    <!-- <a class="btn btn-info" href="/statistics/{{week_no}}"</a> -->
    <a href="/statistics/{{week_no}}"</a>
    <div id="main">
      <h3> most popular product: {{data.mostPopularProduct}} </h3>
      <h3> least popular product : {{data.leastPopularProduct}} </h3>
      <h3> most popular category : {{data.mostPopularCategory}} </h3>
      <h3> least popular category : {{data.leastPopularCategory}} </h3>
      <h3> most profitable product : {{data.mostProfitableProduct}} </h3>
      <h3> most profitable category : {{data.mostProfitableCategory}} </h3>
    </div>
  </div>
</div>
</div>
